<nav class='navbar navbar-inverse'>
            <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
                <ul class='nav navbar-nav'>
                    <li><a [routerLink]="['/welcome']">Home</a></li>
                    <li><a [routerLink]="['/products']">Product List</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a  *ngIf="!authenticated()" [routerLink]="['']" (click)="login()">Login/Signup</a></li>
                    <li><a  *ngIf="authenticated()"  [routerLink]="['']" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </nav>